* {
  box-sizing: border-box;
}

body {
  background-color: #fb6b6b;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.logo-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-menu img {
  height: 90px;
}

.logo-menu p {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  margin-top: 5px;
}

.menu button {
  width: 200px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #d70900;
  margin-top: 70px;
}

button:hover {
  cursor: pointer;
}

header {
  height: 60px;
  background-color: #fb6b6b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header img {
  height: 40px;
}

header p {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  margin-left: 10px;
}

.deck {
  margin-top: 60px;
  margin-bottom: 55px;
}

.flashcard {
  width: 182px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px auto;
}

.flashcard p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}

footer {
  height: 50px;
  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
